.editor-view {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"toolbar"
		"editor";

	overflow: hidden;
}

.standalone-container {
	grid-area: toolbar;
}

.edit-container {
	grid-area: editor;
	overflow: hidden;
	position:relative;
}

