.grid-content {
	display: grid;
	height: inherit;
	max-height: inherit;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
		"module"
}

.grid-module {
	grid-area: module;
}
