.chat-page {
    color: white;
    display: grid;
    overflow: hidden;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 50px 300px;
	grid-template-areas:
		"messages"
		"controls"
		"editor"

}

.chat-page .messages {
    background: white;
    color: black;
    overflow-y: auto;
	grid-area: messages;
	min-height: inherit;
	max-height: inherit;
}

.chat-page .controls-container {
	grid-area: controls;
	max-height: inherit;
}

.chat-page .editor-container {
	grid-area: editor;
	max-height: inherit;
    color: black;
    border: 1px;
    border-style: solid;
	overflow: hidden;
	display: grid;
}

.editor {
	height: 100%;
}

